
@import './../../libs/variables.scss';

.createPost
{
    display: flex;
    justify-content: center;
    align-items: center;

    form
    {
        display: flex;
        flex-direction: column;
        width: 400px;

        > *
        {
            margin-bottom: 20px;
        }
    }

    .__author
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        > *
        {
            padding: 5px;
        }
    }

    textarea
    {
        width: 100%;
    }
}