
.Messages
{
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 20px;

    aside
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        margin: 10px;
        padding: 10px;
    }
}