
@import './../../libs/variables.scss';

.header
{
    padding: 15px $sidePadding;
    box-shadow: 0px 0px 10px $lightGray;

    display: flex;
    justify-content: space-between;

    nav
    {
        ul
        {
            list-style: none;
            display: flex;

            a
            {
                text-decoration: none;
                color: $mainColor;
                padding: 10px 15px;
                font-weight: 700;
                transition: $baseTransition;

                &:hover
                {
                    background-color: lighten($mainColor, 20%);
                    color: $whiteColor;
                }

                &.active
                {
                    background-color: $mainColor;
                    color: $whiteColor;
                }
            }
        }
    }
}