
@import './../../libs/variables.scss';

.footer {
    padding: 40px $sidePadding;
    margin-top: 50px;
    background-color: $blackColor;

    p
    {
        text-align: center;
        
        color: $whiteColor;
    }
}